<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FileBrowser</title>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="IE=Edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="description" id="description" content="Media browser web-app." />
    <link href="/favicon.ico?x=1" rel="shortcut icon" />
    <link href="/dist/app.bundle.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app" v-cloak></div>
    <script src="/dist/app.bundle.js"></script>
  </body>
</html>
