/**
 * Align children vertically (column)
 */
.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/**
 * Align children horizontally (row)
 */
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/**
 * Flex items alignment and space distribution
 */
.flex-left {
  justify-content: flex-start;
}
.flex-center {
  justify-content: center;
}
.flex-right {
  justify-content: flex-end;
}
.flex-space {
  justify-content: space-between;
}
.flex-around {
  justify-content: space-around;
}
.flex-top {
  align-items: flex-start;
}
.flex-middle {
  align-items: center;
}
.flex-bottom {
  align-items: flex-end;
}

/**
 * Flex items sizing
 */
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.flex-10 {
  flex-basis: 10%;
}
.flex-20 {
  flex-basis: 20%;
}
.flex-30 {
  flex-basis: 30%;
}
.flex-40 {
  flex-basis: 40%;
}
.flex-50 {
  flex-basis: 50%;
}
.flex-60 {
  flex-basis: 60%;
}
.flex-70 {
  flex-basis: 70%;
}
.flex-80 {
  flex-basis: 80%;
}
.flex-90 {
  flex-basis: 90%;
}
.flex-100 {
  flex-basis: 100%;
}

/**
 * Fixed with labels
 */
.flex-label {
  width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/**
 * Basic grid
 */
.flex-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: stretch;

  .flex-grid-item {
    margin: 0 0 $padSpace 0;
  }
  .flex-10, .flex-20, .flex-30, .flex-40, .flex-50, .flex-60, .flex-70, .flex-80, .flex-90, .flex-100 {
    flex: 1;
    flex-basis: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  @media #{$screenMedium} {
    flex-direction: row;

    .flex-grid-item {
      margin: 0 $padSpace 0 0;

      &:last-of-type {
        margin-right: 0;
      }
    }
    .flex-10  { flex-basis: 10%; width: 10%; }
    .flex-20  { flex-basis: 20%; width: 20%; }
    .flex-30  { flex-basis: 30%; width: 30%; }
    .flex-40  { flex-basis: 40%; width: 40%; }
    .flex-50  { flex-basis: 50%; width: 50%; }
    .flex-60  { flex-basis: 60%; width: 60%; }
    .flex-70  { flex-basis: 70%; width: 70%; }
    .flex-80  { flex-basis: 80%; width: 80%; }
    .flex-90  { flex-basis: 90%; width: 90%; }
    .flex-100 { flex-basis: 100%; width: 100%; }
  }
}

